/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

::-moz-selection,
::selection {
    background: var(--text-selection);
    color: var(--primary-color);
    opacity: 0.1;
}

p {
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--secondary-color);
}

a {
    padding: 2px 4px 0;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
    color: var(--secondary-color);
}

a:after {
    content: "";
    background: var(--link-color);
    position: absolute;
    left: 4px;
    bottom: 0;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    z-index: -1;
    border-bottom: 2px solid rgba(var(--accent-color-rgb), 0);
    transition: 0.2s cubic-bezier(0.25, 0.1, 0, 1);
}

a:hover:after {
    left: 0;
    bottom: -2px;
    background: var(--link-color-hovered);
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--accent-color);
}

a:hover {
    color: var(--accent-color);
}

hr {
    border: 1px solid var(--secondary-color);
    opacity: 0.15;
    margin: 3rem 0;
}

ul {
    list-style: none;
}

.Button_button {
    background: var(--button-color);
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    overflow: hidden;
    display: inline-block;
    color: var(--primary-color);
    position: relative;
    transition: all 0.2s ease;

    &:before {
        content: "";
        background: var(--accent-color);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.2rem;
        transform: scale(0.9);
        opacity: 0;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }

    & span {
        color: var(--primary-color);
        position: relative;
        transition: all 0.2s ease;
        font-size: 0.8rem;
    }
}

.Button_button:hover {
    cursor: pointer;

    &:before {
        transform: scale(1);
        opacity: 1;
    }

    & span {
        color: #fff;
    }
}

.Button_button.primary {
    background: var(--accent-color);

    &:before {
        background: var(--primary-color);
    }

    & span {
        color: #fff;
    }
}

.Button_icon {
    margin-right: 0.5rem;
}

.Spaceman_Fork {
    background: var(--link-color);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 3rem 0;
    border-left: 4px solid var(--accent-color);

    & h3 {
        color: var(--accent-color);
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 0;
        letter-spacing: 0.05rem;
    }
}

.Spaceman_buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem 0;
    max-width: 80%;
    margin: 0 auto;

    & a {
        margin: 0 1rem;
    }
}

.Spaceman_appImage {
    margin: 3rem auto;
    width: 66%;
    height: auto;
    display: block;
}

.Spaceman_features {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 4rem;

    & h4 {
        display: inline;
        color: var(--accent-color);
        font-size: 1rem;
        font-weight: 700;
        margin-left: 0.5rem;
    }
    & li {
        color: var(--secondary-color);
        margin: 16px 0;
    }
    & video {
        margin: 1rem auto 0;
        width: 66%;
        height: auto;
        display: block;
        border-radius: 4px;
        filter: var(--video-filter);
    }
}

.feature-icon {
    width: 64px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
}

@media only screen and (min-width: 550px) {
    .Spaceman_buttons {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .Spaceman_stylesGrid img {
        height: 19px;
    }
}

@media only screen and (min-width: 660px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .Button_button {
        padding: 10px 20px;

        & span {
            font-size: 0.9rem;
        }
    }

    .Spaceman_headerImage {
        margin-bottom: 3rem;
    }

    .Spaceman_features {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        margin: 0 auto 14rem;
    }
}

.Spaceman_stylesGrid {
    margin: 1rem auto 0;
    font-style: italic;
    display: grid;
    width: 100%;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;

    & small {
        justify-self: end;
        margin-top: 0.25rem;
    }
    & img {
        justify-self: start;
        width: 100%;
        height: auto;
        border-radius: 4px;
        filter: saturate(125%);
    }
}

footer {
    max-width: 40rem;
    margin: 0 auto 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-icon {
    width: 64px;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
    border-radius: 8px;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    overflow: visible;
}
